<ul class="nav">
    <li class="nav-item">
        <button class="btn" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMainDrop" aria-controls="offcanvasMainDrop">
            <svg class="bi leftnav-menu" width="32" height="32">
                <use xlink:href="./assets/bootstrap-icons.svg#list"/>
            </svg>
          </button>
          <div class="offcanvas offcanvas-start offcanvas-black" tabindex="-1" id="offcanvasMainDrop" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
              <button type="button" class="btn-close btn-close-white close-button text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="list-group list-group-flush">
                <a href="#" class="list-group-item list-group-item-action leftnav-header-text">Home</a>
                <a href="#" class="list-group-item list-group-item-action leftnav-category-text">Series</a>
                <a href="#" class="list-group-item list-group-item-action leftnav-category-text">Movies</a>
                <a href="#" class="list-group-item list-group-item-action leftnav-category-text">Originals</a>
                <a href="#" class="list-group-item list-group-item-action leftnav-category-text">Just Added</a>
                <a href="#" class="list-group-item list-group-item-action leftnav-category-text">Last Chance</a>
                <a href="#" class="list-group-item list-group-item-action leftnav-category-text">Coming Soon</a>
                <a href="#" class="list-group-item list-group-item-action leftnav-category-text">Trending Now</a>
                <a href="#" class="list-group-item list-group-item-action leftnav-category-text">Awards & Acclaim</a>
              </ul>
            </div>
          </div>          
    </li>
    <li class="nav-item">
        <a href="" class="nav-link text-white">
            <svg class="bi leftnav-menu" width="32" height="32">
                <use xlink:href="./assets/bootstrap-icons.svg#search"/>
            </svg>
        </a>
    </li>
</ul>