<ul class="nav">
    <li class="nav-item">
        <button class="btn" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMainDrop" aria-controls="offcanvasMainDrop">
            <svg class="bi leftnav-menu" width="32" height="32">
                <use xlink:href="./assets/bootstrap-icons.svg#list"/>
            </svg>
          </button>
          <div class="offcanvas offcanvas-start offcanvas-black" tabindex="-1" id="offcanvasMainDrop" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
              <button type="button" class="btn-close btn-close-white close-button text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="list-group">
                <a href="#" class="list-group-item list-group-item-action leftnav-header-text">Home</a>
                <a href="#" class="list-group-item list-group-item-action leftnav-category-text">Series</a>
                <a href="#" class="list-group-item list-group-item-action leftnav-category-text">Movies</a>
                <a href="#" class="list-group-item list-group-item-action leftnav-category-text">Originals</a>
                <a href="#" class="list-group-item list-group-item-action leftnav-category-text">Just Added</a>
                <a href="#" class="list-group-item list-group-item-action leftnav-category-text">Last Chance</a>
                <a href="#" class="list-group-item list-group-item-action leftnav-category-text">Coming Soon</a>
                <a href="#" class="list-group-item list-group-item-action leftnav-category-text">Trending Now</a>
                <a href="#" class="list-group-item list-group-item-action leftnav-category-text category-underline">Awards & Acclaim</a>
              </ul>
              <ul class="list-group new-list">
                <a href="#" class="list-group-item list-group-item-action leftnav-category-text">Action</a>
                <a href="#" class="list-group-item list-group-item-action leftnav-category-text">Animation</a>
                <a href="#" class="list-group-item list-group-item-action leftnav-category-text">Comedy</a>
                <a href="#" class="list-group-item list-group-item-action leftnav-category-text">Crime</a>
                <a href="#" class="list-group-item list-group-item-action leftnav-category-text">Documentaries</a>
                <a href="#" class="list-group-item list-group-item-action leftnav-category-text">Drama</a>
                <a href="#" class="list-group-item list-group-item-action leftnav-category-text">Fantasy & Sci-Fi</a>
                <a href="#" class="list-group-item list-group-item-action leftnav-category-text">Horror</a>
                <a href="#" class="list-group-item list-group-item-action leftnav-category-text">International</a>
                <a href="#" class="list-group-item list-group-item-action leftnav-category-text">Kids & Family</a>
                <a href="#" class="list-group-item list-group-item-action leftnav-category-text">Latino</a>
                <a href="#" class="list-group-item list-group-item-action leftnav-category-text">Music</a>
                <a href="#" class="list-group-item list-group-item-action leftnav-category-text">News/Talk</a>
                <a href="#" class="list-group-item list-group-item-action leftnav-category-text">Reality</a>
                <a href="#" class="list-group-item list-group-item-action leftnav-category-text">Romance</a>
                <a href="#" class="list-group-item list-group-item-action leftnav-category-text">Shorts</a>
                <a href="#" class="list-group-item list-group-item-action leftnav-category-text">Sports</a>
                <a href="#" class="list-group-item list-group-item-action leftnav-category-text category-underline">Suspense</a>
              </ul>
              <ul class="list-group new-list">
                <a href="#" class="list-group-item list-group-item-action leftnav-category-text">Audio Description</a>
              </ul>
            </div>
          </div>          
    </li>
    <li class="nav-item">
        <a href="" class="nav-link text-white">
            <svg class="bi leftnav-menu" width="32" height="32">
                <use xlink:href="./assets/bootstrap-icons.svg#search"/>
            </svg>
        </a>
    </li>
</ul>