.active-link{
    color: white !important;
    font-weight:800 !important;
    font-size: 22px !important;
    opacity: 1 !important;
}
.active-link:focus{
    outline:none;
    box-shadow: none;
}

.leftnav-menu{
    margin-top: -6px;
    margin-left: 38px;
    background-color: transparent;
    flex-wrap: nowrap;
}

.leftnav-listicon{
    padding: 0px;
    height: 20px;
    width: 20px;
    background-image: url("/assets/browse_default_max.svg");
}
.leftnav-listicon:hover{
    background-image: url("/assets/browse_hover_max.svg");
}

.leftnav-listicon:focus{
    outline:none;
    box-shadow: none;
}

.leftnav-searchicon{
    margin-top: 4px;
    padding: 0px;
    height: 20px;
    width: 20px;
    background-image: url("/assets/search_default_max.svg");
}
.leftnav-searchicon:hover{
    background-image: url("/assets/search_hover_max.svg");
}
.leftnav-searchicon:focus{
    outline:none;
    box-shadow: none;
}

.leftnav-menu:focus{
    outline:none;
    box-shadow: none;
}
.offcanvas-black{
    background-color: rgba(15,15,15,1);
    width: 360px;
}

.leftnav-category-text{
    background-color: rgba(15,15,15,1);
    font-size: 21px;
    font-weight: 400;
    margin-left: 10%;
    width: 80%;
    opacity: .8;
    color: rgb(190, 190, 190);
}

.leftnav-category-text:hover{
    font-weight: 800;
    opacity: 1;
    color:#8c77e2;
}

.category-underline{
    padding-bottom: 20px;
    border-bottom: 2px solid gray;
}

.new-list{padding-top: 10px;}

.leftnav-close-button{
    font-size: 14px;
}

.leftnav-top-padding{
    padding-block: 30px;
    margin-left: 10%;
    height: 60px;
}

.leftnav-startbutton{
    margin-left: 13%;
}

.leftnav-studio-buttons{
    background-color: #171321;
    width: 116px;
    height: 50px;

    color: white;
    border-color: #8c77e2;
    border-width: 4px;
    border-radius: 50px;
    margin-block: 12px;
    text-align: center;
}

.leftnav-studio-buttons:hover{
    background: #968cf7;
}

.leftnav-bottom-list{ padding-bottom: 80px;}