.leftnav-menu{
    background-color: transparent;
    fill: rgb(190, 190, 190);
}

.leftnav-menu:hover{fill:white;}
    
.leftnav-menu:focus{
    outline:none;
    box-shadow: none;
}
.offcanvas-black{
    background-color: black;
    width: 500px;
}

.leftnav-header-text{
    background-color: black;
    color: white;
    font-weight:900;
    font-size:32px;
    margin-left: 10%;
    width: 80%;
    padding-top: 0px;
}
.leftnav-header-text:hover{color:#8c77e2;}

.leftnav-category-text{
    background-color: black;
    font-weight: 350;
    font-size: 28px;
    margin-left: 10%;
    width: 80%;
    color: rgb(190, 190, 190);
}

.leftnav-category-text:hover{
    font-weight: 900;
    color:#8c77e2;
}

.category-underline{
    padding-bottom: 20px;
    border-bottom: 2px solid gray;
}

.new-list{padding-top: 10px;}

.leftnav-close-button{
    font-size: 20px;
}

.leftnav-top-padding{
    padding-block: 35px;
    margin-left: 10%;
    height: 116px
}

.leftnav-studio-buttons{
    background-color: black;
    width: 180px;
    padding: 5px;
    color: white;
    border-color: #8c77e2;
    border-width: 4px;
    border-radius: 50px;
    padding-block: 25px;
    margin-block: 12px;
    text-align: center;
}

.leftnav-studio-buttons:hover{
    background: #8c77e2;
}

.leftnav-bottom-list{ padding-bottom: 100px;}