.leftnav-menu{
    background-color: transparent;
    fill: rgb(190, 190, 190);
}

.leftnav-menu:hover{
    fill:white;
}

.offcanvas-black{
    background-color: black;
}

.leftnav-header-text{
    background-color: black;
    color: white;
    font-weight:900;
    font-size:30px;
}
.leftnav-header-text:hover{
    color:#8c77e2;
}

.leftnav-category-text{
    background-color: black;
    font-weight: 350;
    font-size: 26px;
    color: rgb(190, 190, 190);
}

.leftnav-category-text:hover{
    font-weight: 900;
    color:#8c77e2;
}

.category-underline{
    padding-bottom: 20px;
    border-bottom: 2px solid gray;
}

.new-list{
    padding-top: 10px;
}

.close-button{
    font-size: 20px;
}