.topbar{
    background: rgba(0,0,0,.9);
    transition-duration: 0.1s;
    height: 60px;
    flex-wrap: nowrap;
    min-width: 1000px;
}

.topbar:hover{
    background-color: black;
}

.logo{
    height: 60px;
    width: 129px;
}
