.topbar{
    background: rgba(15,15,15,.9);
    transition-duration: 0.1s;
    height: 60px;
    flex-wrap: nowrap;
    min-width: 1000px;
}

.topbar:hover{
    background: rgba(15,15,15,1);
}

.logo{
    height: 60px;
    width: 129px;
}
