.user-menu{
    color:rgb(190,190,190);
    font-size:16px;
    font-weight: 500;
    padding-inline: 0px;
    flex-wrap: nowrap;
}

.user-menu:hover{color:white;}

.user-icon{
    border-radius: 40px;
    height: 40px;
    width: 40px;
    border-width: 4px;
    border-color: blue;
    color:white;
    font-size: 16px;
    font-weight: 500;
    flex-wrap: nowrap;
    padding-top: 5px;
    padding-inline: 0px;
}

.new-list-usermenu{padding-top: 10px; }

.underline-usermenu{
    padding-bottom: 24px;
    border-bottom: 2px solid gray;
}

.usermenu-header-text{
    background-color: rgba(15,15,15,1);
    color: white;
    font-weight:800;
    font-size:22px;
}

.usermenu-category-text{
    background-color: rgba(15,15,15,1);
    font-weight: 800;
    font-size: 22px;
    color: rgb(190, 190, 190);
}

.usermenu-category-text:hover{color:white;}

.usermenu-subcat-text{
    background-color: rgba(15,15,15,1);
    font-weight: 350px;
    font-size: 22px;
    color: rgb(190,190,190);
}

.usermenu-subcat-text:hover{color:white;}

.account-icon{
    background-color: transparent;
    fill:#8c77e2;
}

.usermenu-close-button{
    font-size: 14px;
}

.usermenu-top-padding{
    margin-right: 10%;
    height: 60px;
    align-self: end;
}

.name{
    font-size: 14px;
}

.list-group-item{
    width: 320;
    padding-inline: 0;
}
.user-name{
    padding-block: 8px;
    padding-left:7px;
    padding-right: 40px;
}