<a class="btn btn-dark" data-bs-toggle="offcanvas" data-bs-target="#offcanvasUserMenu" role="button" aria-controls="offcanvasUserMenu">
  Jim
</a>
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasUserMenu" aria-labelledby="offcanvasNavbarLabel">
  <div class="offcanvas-header">
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="offcanvas-body">
      <ul class="list-group list-group-flush">
        <a href="#" class="list-group-item list-group-item-action">My List</a>
        <a href="#" class="list-group-item list-group-item-action">Continue Watching</a>
        <a href="#" class="list-group-item list-group-item-action">Account</a>
      </ul>
    </div>
  </div>
</div>
