.user-menu{
    color:rgb(190,190,190);
    font-size:16px;
    font-weight: 500;
    padding-right: 40px;
    flex-wrap: nowrap;
}

.user-menu:hover{color:white;}

.user-icon{
    border-radius: 40px;
    height: 40px;
    width: 40px;
    border-width: 4px;
    border-color: blue;
    color:white;
    font-size: 16px;
    font-weight: 500;
    flex-wrap: nowrap;
}
    
.new-list-usermenu{padding-top: 20px; }

.underline-usermenu{
    padding-bottom: 30px;
    border-bottom: 2px solid gray;
}

.usermenu-header-text{
    background-color: black;
    color: white;
    font-weight:900;
    font-size:30px;
}

.usermenu-category-text{
    background-color: black;
    font-weight: 900;
    font-size: 30px;
    color: rgb(190, 190, 190);
}

.usermenu-category-text:hover{color:white;}

.usermenu-subcat-text{
    background-color: black;
    font-weight: 350px;
    font-size: 30px;
    color: rgb(190,190,190);
}

.usermenu-subcat-text:hover{color:white;}

.account-icon{
    background-color: transparent;
    fill:#8c77e2;
}

.usermenu-close-button{
    font-size: 20px;
}

.usermenu-top-padding{
    padding-block: 35px;
    margin-right: 10%;
    height: 116px;
    align-self: end;
}