<nav class="navbar footer">
        <div class="row">
            <div class="col left-col">
                <div class="row">
                <a class="nav-link icon youtubeicon" href="https://youtube.com/hbomax/"></a>
                <a class="nav-link icon twittericon" href="https://twitter.com/hbomax/"></a>
                <a class="nav-link icon facebookicon" href="https://facebook.com/hbomax/"></a>
                <a class="nav-link icon instagramicon" href="https://instagram.com/hbomax/"></a>
                </div>
            </div>
            <div class="col right-col">
                © 2022 WarnerMedia Direct, LLC. All rights reserved.

            </div>
        </div>
</nav>
