<nav class="navbar footer">
        <div class="row">
            <div class="col left-col">
                <a class="navbar-brand" href="#">Youtube</a>
                <a class="navbar-brand" href="#">Twitter</a>
                <a class="navbar-brand" href="#">Facebook</a>
                <a class="navbar-brand" href="#">Instagram</a>
            </div>
            <div class="col right-col">
                © 2022 WarnerMedia Direct, LLC. All rights reserved

            </div>
        </div>
</nav>
