<div class="card">
    <div class="row">
      <div class="col">
        <img src="./assets/TheFallout.jpeg" class="img showcase-pic">
      </div>
      <div class="col">
        <div class="card-body">
          <h4 class="card-title">MOVIE/SHOW TITLE</h4>
          <h1>Sample Main Description</h1>
          <p><small>Sample Subtext</small></p>
          <div class="row button-row">
            <button type="button" class="btn play-icon-back rounded-circle" href="#">
                <svg class="bi" width="45" height="45">
                    <use xlink:href="./assets/bootstrap-icons.svg#play-fill"/>
                </svg>
            </button>
            <button type="button" class="btn-outline rounded-pill info-button" href="#">MORE INFO</button>
          </div>
        </div>
      </div>
    </div>
  </div>