.card{
    background: transparent;
    border: transparent;
    margin-left: 81px;
    margin-block: 40px;
}

.card-body{
    padding-block: 200px;
    padding-left: 60px;
    width: 1444px;
}

.card-title{
    color: #b4bfbd;
    font-size: 23px;
    font-weight: 900;
    opacity: .8;
}

h1{
    color: white;
    font-size: 44px;
    font-weight: 900;
}

small,p{
    font-size: 22px;
    color: white;
    opacity: 0.9;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 40px;
}

.showcase-pic{
    width: 1248px;
    height: 700px;
}

.no-flex{
    flex-wrap: nowrap;
    flex: none;
}

.col{
    width: max-content;
    height: max-content;
    min-width: max-content;
}

.button-row{
    margin-left: 6px;
    padding-right: 10px;
    height: 100px;
}

.info-button{
    width: 200px;
    height: 66px;
    margin-left: 20px;
    margin-top: 10px;
    background-color: #4d3569;
    color:white;
    font-weight: 800;
    font-size: 22px;
    letter-spacing: 1px;
    border: none;
}

.info-button:hover{
    background-color: #968cf7;
}

.play-icon{
    width: 85px;
    height: 85px;
    fill: black;
    background-color: rgb(207, 193, 109);
    margin-left: 0px;
}


.play-icon:focus{
    outline:none;
    box-shadow: none;
}

.play-icon:hover{
    background-color: rgb(175, 163, 93);
}

