.squarecard-pic-attributes{
    width: 200px;
    height: 200px;
    margin-bottom: 18px;
    border-radius: 0%;
}

.square_overlay{
    height: 200px;
    width: 200px;
    opacity: 0%;
    top: 0%;
    position: absolute;
    background-size: 100% 100%;
    background-image: url("/assets/btn_overlay_bp_1x1.png");
}

.square_overlay:hover{
    opacity: 100%;
}

.card-layout{
    margin-inline: 6px;
    margin-bottom: 40px;
    background-color: transparent;
    border: transparent;
}

.card-text{
    color:white;
    font-size: 17px;
    font-weight: 300;
    margin: 0px;
    padding-block: 2px;
    padding-inline: 0px;
    width: 200px;
}

.card-body{
    line-height: 18px;
}

.container{
    padding: 0px;
    position: relative;
    text-align: center;
}