.widecard-pic-attributes{
    width: 420px;
    height: 260px;
}

.widecard-layout{
    margin-inline: 10px;
    margin-bottom: 20px;
    background-color: transparent;
}

.card-text{
    color:white;
    font-size:18px;
    margin: 0px;
    padding-block: 2px;
    padding-inline: 0px;

}

