.widecard-pic-attributes{
    width: 600px;
    height: 336px;
}

.card-layout{
    margin-inline: 8px;
    margin-bottom: 20px;
    background-color: transparent;
    border: transparent;
}

.card-text{
    color:white;
    font-size:20px;
    margin: 0px;
    padding-block: 2px;
    padding-inline: 0px;

}

