.Xtallcard-pic-attributes{
    width: 306px;
    height: 459px;
    border-radius: 0%;
}

.Xtall_overlay{
    width: 306px;
    height: 459px;
    opacity: 0%;
    top: 0%;
    position: absolute;
    background-size: 100% 100%;
    background-image: url("/assets/btn_overlay_bp_2x3.png");
}

.Xtall_overlay:hover{
    opacity: 100;
}