<div class="d-flex flex-column mainpage-attr background">
    <div class="col">
        <div class="container">
            <h1 class="text-page awards-header"> Awards & Acclaim </h1>
        
            <h1 class="awards-subtitle text-page"> These decorated movies, series, docs, and shorts will have you seeing
                gold.</h1>
        </div>
    
        <h1 class="text-head"> 2022 SAG Awards® Nominees </h1>
        <hbo-showcasecard> Loading Showcase </hbo-showcasecard>
    
        <h1 class="text-head"> Oscar® Winners and Nominees: The Past 10 Years </h1>
        <hbo-popularmovies> Loading Popular Movies </hbo-popularmovies>
    </div>
    
</div>
