<div class="d-flex flex-column mainpage-attr background">
    <div class="col">
        <div class="container">
            <h1 class="text-page awards-header"> Awards & Acclaim </h1>
        
            <h1 class="awards-subtitle text-page"> These decorated movies, series, docs, and shorts will have you seeing
                gold.</h1>
        </div>
    
        <h1 class="text-head"> 2022 SAG Awards® Nominees </h1>
        <hbo-SAGAwards></hbo-SAGAwards>
    
        <h1 class="text-head"> Oscar® Winners and Nominees: The Past 10 Years </h1>
        <hbo-popularmovies> Loading Popular Movies </hbo-popularmovies>

        <hbo-critics-choice> Loading 2022 Critics Choice </hbo-critics-choice>

        <hbo-showcasecard-right title="NIGHTMARE ALLEY" heading="A fantasy-tinged noir that will drive you mad. Now Oscar®-nominated."
        subtext="Up for Best Picture and more." img="./assets/NightmareAlley_Showcase.jpeg"> Loading ShowCase...</hbo-showcasecard-right>
    </div>
    
</div>
