<div class="d-flex flex-column mainpage-attr">
  
  <h1 class="text-head top-placeholder"> For You </h1>
  <hbo-foryou> Loading For You </hbo-foryou>

  <h1 class="text-head" href="#"> My List </h1>
  <hbo-mylist> Loading My List </hbo-mylist>

  <h1 class="text-head"> Popular Movies </h1>
  <hbo-popularmovies> Loading Popular Movies </hbo-popularmovies>

  <h1 class="text-head"> Just Added </h1>
  <hbo-justadded> Loading Just Added </hbo-justadded>

  <hbo-showcasecard> Loading ShowCase </hbo-showcasecard>

</div>