.wide-card-buttons{
    width: 80px;
    height: 336px;

}

.wide-card-buttons:hover{
    background-color: black;
    opacity: 50%;
}

.startcard{
    margin-left: 71px;
}

.card-fixed{
    flex-wrap: nowrap;
}

.carousel-attr{
    min-width: 1000px;
    flex-wrap: nowrap;
}

button{
    background-color: transparent;
}

button:hover{
    background-color: black;
    opacity: 50%;
}

