.tall-card-buttons{
    width: 80px;
    height: 690px;
    background-color: transparent;

}

.tall-card-buttons:hover{
    background-color: black;
    opacity: 50%;
}

.tall-carousel-button{
    fill: transparent;
    color: transparent;
}

.tall-carousel-button:hover{
    fill: white;
    color: white;
}

