.Xtall-card-buttons{
    width: 55px;
    height: 459px;

}

.Xtall-carousel-button{
    fill: transparent;
    color: transparent;
}

.Xtall-carousel-button:hover{
    fill: white;
    color: white;
}

